@tailwind base;
@tailwind components;
@tailwind utilities;

//https://colorhunt.co/palette/f1e5d1dbb5b5c39898987070
$color-primary: #F1E5D1;
$color-secondary: #DBB5B5;
$color-aux1: #C39898;
$color-aux2: #987070;

@media (prefers-color-scheme: light) {}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

body {
  padding: 0px;
  background-color: $color-primary;
}

:root {
  --primary-color: $color-primary;
  --primary-background-color: $color-aux2;
  --secondary-color: $color-secondary;
}

.colors {
  color: $color-aux2;
  background-color: $color-primary;
}

.focused-colors {
  color: $color-primary;
  background-color: $color-aux2;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.col-spacing {
  column-gap: 10px;
}

.transparent-bg {
  background-color: transparent;
}

.Line-1 {
  border: 2px solid $color-aux2;
  border-radius: 2;
  background-color: $color-aux2;
}

.Line-2 {
  padding: 0px 0px;
  width: 100%;
  border: 1px solid $color-primary;
  border-radius: 2;
}

h3 {
  font-family:'Times New Roman', Times, serif;
  font-size: x-large;
}

h5 {
  font-family:'Times New Roman', Times, serif;
  font-size: medium;
  color: red;
}

.Avatar {
  background-color: $color-aux2;
}

.padding-5px {
  padding: 5px;
}

.AccordionMobile {
  flex-direction: column;
  justify-content: center;
}

.AccordionDesktop {
  flex-direction: row;
  height: 60px;
  justify-content: space-between;
}

.AccordionDesktopStack {
  flex-wrap: nowrap;
  flex-direction: row;
}

.AccordionSummary {
  width: 100%;
  text-align: right;
  padding: 0%;
  justify-content: space-evenly;
  flex-wrap: nowrap;
  display:flex;
}

.MainMenuLogoMobile {
  width: 100%;
}

.MainMenuLogoDesktop {
  width: 120px;
  height: 60px;
}

.MainMenuLogoImage {
  display: flex;
  align-items: center;
  justify-content: center;
}