
@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: light) {}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

body {
  padding: 0px;
  background-color: rgb(78, 44, 0)
}

/*:root {}*/


.colors {
  color: rgb(218, 176, 87);
  background-color: rgb(29, 16, 0);
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.col-spacing {
  column-gap: 10px;
}

.transparent-bg {
  background-color: transparent;
}

.Line-1 {
  padding: 2px 2px;
  border: 2px solid rgb(29, 16, 0);
  border-radius: 2;
  background-color: rgb(29, 16, 0)
}

.Line-2 {
  padding: 0px 0px;
  width: 100%;
  border: 1px solid rgb(218, 176, 87);
  border-radius: 2;
}

.padding-5px {
  padding: 5px;
}

.AccordionMobile {
  flex-direction: column;
  justify-content: center;
}

.AccordionDesktop {
  flex-direction: row;
  height: 60px;
  justify-content: space-between;
}

.AccordionDesktopStack {
  flex-wrap: nowrap;
  flex-direction: row;
}

.AccordionSummary {
  width: 100%;
  text-align: right;
  padding: 0%;
  justify-content: space-evenly;
  flex-wrap: nowrap;
  display:flex;
}

.MainMenuLogoMobile {
  width: 100%;
}

.MainMenuLogoDesktop {
  width: 120px;
  height: 60px;
}

.AccordionDetails {
  padding:3%
}

.MainMenuLogoImage {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ll {
  width: 50%;
  height: 50%;
  max-height: 10%;
}